<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<style>
    .error-message {
        color: red;
    }
</style>
</head>
<body>
<h1>Login Page</h1>
<form method="post" action="/login/">
    {% csrf_token %}
    <label>Username:
        <input type="text" name="username" placeholder="Enter username">
    </label>
    <br>
    <label>Password:
        <input type="password" name="password" placeholder="Enter password">
    </label>
    <br>
    <input type="submit" value="Login">
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
</form>
</body>
</html>
