<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Fonts -->
<link href="https://cdn.jsdelivr.net/npm/@fontsource/roboto/files/roboto-latin-300-normal.woff2" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@fontsource/roboto/files/roboto-latin-400-normal.woff2" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@fontsource/roboto/files/roboto-latin-500-normal.woff2" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@fontsource/roboto/files/roboto-latin-700-normal.woff2" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@fontsource/roboto/files/roboto-latin-900-normal.woff2" rel="stylesheet">

<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
rel="stylesheet"
/>
<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">